@import url("https://fonts.googleapis.com/css2?family=Lato&family=Prompt:wght@600&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* Listado de eventos en pag ppal y filtro de estilos */

.lista{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.card{
  width: 20em;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 1em;
  text-align: center;
  transition: all 0.25s;
  background-color: rgba(245, 245, 245);
}

.card:hover{
  transform: translateY(-3px);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
}

.botonMasInfo {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: solid 2px rgba(245, 245, 245);
  background: hsl(210, 24%, 85%);
}
.botonMasInfo:hover {
  background: #fff;
  color: #adb5bd
}

/* Estilo de cards en Detalle */

.cardDetalle{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 2em;
  text-align: center;
  transition: all 0.25s;
  background-color: rgba(245, 245, 245);
  padding-bottom: 1em;
}

.cardImagen{
  margin: 1em;
}

.imagenDetalle{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@supports(object-fit: cover){
    .imagenDetalle{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.cardTexto{
  margin: 1em;
  justify-content: center;
  align-items: center;
}

.contenedorTitulo{
  font-weight: bolder;
  font-size: 4em;
  margin: 1em;
}

.pregunta{
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0.5em;
}

.respuesta{
  font-weight: bolder;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 2.5em;
  font-weight: 300;
  margin: 0.5em;
}

h1{
  font-size: x-large;
  font-weight: bold;
}

.botonera{
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 2em;
}

/* Estilo carrito en inicio */

#icono{
  padding-right: 10px;
}

/* Estilo lista carrito */

.listaCarrito{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}